{
  "X-APPLE-WEBAUTH-TOKEN": "YOUR_WEBAUTH_TOKEN_HERE",
  "X-APPLE-WEBAUTH-USER": "YOUR_WEBAUTH_USER_HERE",
  "X-APPLE-WEBAUTH-HSA-TRUST": "YOUR_HSA_TRUST_HERE",
  "X-APPLE-DS-WEB-SESSION-TOKEN": "YOUR_SESSION_TOKEN_HERE"
}
